<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Bulletular</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<link rel="icon" type="image/png" href="favicon.png">
	
    <link href="http://fonts.googleapis.com/css?family=Gilda+Display" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="styles/50b8cfcb.main.css"/>
</head>
<body ng-app="bulletularApp">
	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	
	<!--[if lt IE 9]>
	<script src="app/23028683.ie.js"></script>
	<![endif]-->
	
    <header>
        <h1><a href="https://github.com/l-lin/bulletular">Bulletular</a></h1>
        <p>
            Yet another TODO web application with keyboard shortcuts using <a href="http://angularjs.org/">AngularJS</a> and <a href="http://angular-ui.github.io/">AngularUI</a>.
        </p>
        <a href="https://github.com/l-lin/bulletular">
        	<img style="position: absolute; top: 0; right: 0; border: 0" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub">
        </a>
        <hr>
    </header>

	<div class="container" ng-controller="bulletularCtrl">
		<span class="msg-save" ng-cloak="" ng-show="isSaved" ng-click="closeMsg()">Saved!</span>
		<header>
	    	<button ng-click="save()">Save</button>
	    	<button class="trash" ng-click="removeAllBullets()">Remove all bullets</button>
	    </header>
		<div class="wrapper">
			<article>
				<bullets bullets="bullets"></bullets>
			</article>
		</div>
	</div>
	
	<footer role="note">
        <hr>
		<div class="shortcuts">Shortcuts:</div>
		<ul>
			<li><strong>CTRL + Enter:</strong> Complete the task</li>
			<li><strong>CTRL + ALT + Backspace:</strong> Remove the task</li>
            <li><strong>UP / DOWN:</strong> Switch task</li>
            <li><strong>TAB:</strong> Increase indent</li>
            <li><strong>SHIFT + TAB:</strong> Decrease indent</li>
            <li><strong>ALT + Space:</strong> Expand/Collapse</li>
		</ul>
	</footer>
	
	<script src="app/e1500378.plugins.js"></script>
	
	<script src="app/add913de.modules.js"></script>
	
	<script src="app/ac929160.app.js"></script>
</body>
</html>