* {
    margin: 0;
}

body {
	padding-top: 20px;
}

h1 {
    color: #045FB4;
    font-family: 'Gilda Display', serif;
}

.container {
    margin: 0 auto;
	width: 900px;
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

.wrapper {
	padding: 3px;
	background: #eee;
	border-radius: 3px;
}

article {
	background-color: #FFF;
	border: 1px solid #CACACA;
	padding: 30px;
}

input:focus {
    outline: 0;
}

input {
	font-size: large;
    border: none;
    width: 99%;
}

.complete {
    text-decoration: line-through;
	color: #BDBDBD;
}

hr {
	border-bottom: 1px solid #eee;
    border-top: 0;
    margin: 10px 0;
}

.shortcuts {
	float: left;
	text-decoration: underline;
}

header {
    margin-bottom: 30px;
    text-align: center;
}

footer {
    margin: 30px auto 0 auto;
	width: 900px;
    font: 15px Helvetica, arial, freesans, clean, sans-serif;
}

footer ul {
	margin-left: 40px;
	list-style-type: none;
}
